
// $creaColor: #6D314F;
// $codeColor: #3B3B78;
// $commColor: #5F3270;
$creaColor: #842d50;
$creaColor2: #d39cb5;
$codeColor: #94763c;
$codeColor2:#e5cfaa;
$commColor: #2c5b59;
$commColor2: #9bd4d1;



body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  background-image: url(../images/bg-white.svg);
  background-size: 30px 30px;
  font-family: 'Roboto', sans-serif;
  overflow: visible;
  animation: lock 1.6s;

  @keyframes lock {
    99% {overflow: hidden;}
    100% {overflow: visible;}
  }

  &.edit-mode {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color:black;
}
  
p {
  font-weight: 500;
  margin: 15px 20px;
  padding: 0;

  &~p {
    margin-top: 10px;
  }
}


h4 {
  text-align: center;
  margin: 15px;
  padding: 0;
}

hr {
  border: .5px solid #000;
}

.id-header {
  // position: relative;
  display: flex;
  justify-content: space-between;
  width: 1567px;
  margin: 10px 10px;
  padding: 10px;
  color: #fff;
  font-weight: 100;

  &__big {
    margin: 0;
    font-weight: 300;
    color: #2e3534;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1.5rem;

  }
}

.id-info {
  color: black;
  position: absolute;
  top: 970px;
  text-align: right;
  left: 1300px;
  color: black;
  margin: 11px;
  letter-spacing: .225rem;
  font-size: .9rem;
  font-weight: 500;
  display: inline-block;
  // text-shadow: 0 0 2px black;

  & p:first-child {
    letter-spacing: .13rem;
  }

  & p:last-child {
    letter-spacing: .1rem;

  & strong {
    font-weight: 500;
  }
}

}

.logo-perso {
  width: 60px;
  position: absolute;
  top: 910px;
  left: 1510px;
}

.container {
  position: relative;
}

.buttons {
  position: fixed;
  top: 30px;
  right: 0;
  font-size: .8rem;
  font-weight: 300;
}

button {
  background-color: $creaColor;
  color: #fff;
  text-decoration: none;
  padding: .2rem .5rem;
  display: inline-block;
  // display: none; // for pdf printing only
  transition: all 500ms;
  border: 2px solid $creaColor;

  &:hover {
  background-color: #fff;
  border: 2px solid $creaColor;
  color: $creaColor;
  }
}

#options {
  display: none;

  &.active {
    display: inline-block;
  }
}

.options__content {
  font-size: .8rem; 
  display: inline; 
}

#info-coords {
  color: #fff;
}

.node {
  user-select: none;
  position: absolute;
  left: 718px;
  top: 449px;
  // padding: 15px 20px;
  z-index: 10;
  margin: 0;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.1rem;
  color: #000;
  width: 250px;
  border: 1px solid #000;
  border-radius: 20px;


  &__image {
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 100%;
    & img {
      padding: 10px;
      width: 50px;
      height: 50px;
    }
  }
}

.badge {
  user-select: none;
  position: absolute;
  left: 718px;
  top: 449px;
  width: 90px;
  height: 90px;
  z-index: 10;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
  background-color: transparent;
  // box-shadow: 5px 5px 10px rgba(0,0,0,.5); 

  &__text {
    font-size: .9rem;
    font-weight: 700;
    fill: #fff; 
  }
  &__path {
    fill: transparent; 
  }
  &__bg {
    stroke: #000;
    stroke-miterlimit: 10; 
  }
}

.connections {
  z-index: -1;
}

.plug {
  z-index: 10;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000;
}

.link {
  position: absolute;
  
  &--top-left {
    border-top-left-radius: 50px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
  
  &--top-right {
    border-top-right-radius: 50px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  
  &--bottom-left {
    border-bottom-left-radius: 50px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  
  &--bottom-right {
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }
}


.arrow {
  position: absolute;
  
  &--up {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #000;
  }
  
  &--down {   
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid #000;  
  }
  
  &--right {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid #000;
  }
  
  &--left {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right:14px solid #000; 
  }
}

/* This to prevent clicks to select svg child elements */
.node-container > * > * {
  pointer-events: none;
}
